# Project exclude paths
/.gradle/
/build/
/build/classes/java/test/
/gradlew
/settings
.idea
/gradlew.bat
/settings.gradle
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
